{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
         </div>
         <!-- /.col -->
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="#">Home</a></li>
               <li class="breadcrumb-item active">Dashboard</li>
            </ol>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
               <div class="inner">
                  <h3>{{ no_of_boarders }}</h3>
                  <p>Boarders</p>
               </div>
               <div class="icon">
                  <i class="fas fa-users"></i>
               </div>
               <a href="{% url 'allboardersinformation' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box bg-warning" style="color: #fff !important;">
               <div class="inner">
                  <h3>{{ no_of_beds }}</h3>
                  <p>Total Beds</p>
               </div>
               <div class="icon">
                  <i style="font-size:50px;"><img src="{% static 'img/icons/total-beds.svg' %}" width="75"></i>
               </div>
               <a href="{% url 'bed' %}" class="small-box-footer" style="color: #fff !important;">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
               <div class="inner">
                  <h3>{{ aassigned_beds }}</h3>
                  <p>Assigned Beds</p>
               </div>
               <div class="icon">
                  <i class="fas fa-bed"></i>
               </div>
               <a href="{% url 'bed' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box bg-gradient-success">
               <div class="inner">
                  <h3>{{ available_beds }}</h3>
                  <p>Available Beds</p>
               </div>
               <div class="icon">
                  <i style="font-size:0px;"><img src="{% static 'img/icons/bed-svg.svg' %}" width="80"></i>
               </div>
               <a href="{% url 'bed' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #b317b8 !important; color: #fff !important;">
               <div class="inner">
                  <h3 id="netincome"></h3>
                  <script>
                     let a = {{ totalincomes.totalincome }}
                     let b = {{ totalfeeincomes.totalfeeincome }}
                     
                     let c = a + b;
                     document.getElementById("netincome").innerHTML = c;
                  </script>
                  <p>Total Income</p>
               </div>
               <div class="icon">
                  <i class="fas fa-money-bill"></i>
               </div>
               <a href="{% url 'incomesearch' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #5a5cd8 !important; color: #fff !important;">
               <div class="inner">
                  <h3>{{ totalexpenses.totalexpense }}</h3>
                  <p>Total Expenses</p>
               </div>
               <div class="icon">
                  <i class="fas fa-credit-card"></i>
               </div>
               <a href="{% url 'expensesearch' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #a79928 !important; color: #fff !important;">
               <div class="inner">
                  <h3 id="profit"></h3>
                  <script>
                     let w = {{ totalincomes.totalincome }}
                     let x = {{ totalfeeincomes.totalfeeincome }}
                     let y = {{ totalexpenses.totalexpense }}
                     
                     let z = (w + x) - y;
                     document.getElementById("profit").innerHTML = z;
                  </script>
                  <p>Net Profit</p>
               </div>
               <div class="icon">
                  <i class="fas fa-money-check"></i>
               </div>
               <a href="{% url 'profitsearch' %}" class="small-box-footer">
               More info <i class="fas fa-arrow-circle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- /.row -->
      {% for msg in messages %}
      <script>function addexpense() {toastr.success('{{ msg }}')};window.onload = addexpense;</script>
      {% endfor %}
      <!--Todo Starts starts-->
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">
                     <i class="fa fa-clipboard mr-1"></i>
                     To Do List
                  </h3>
               </div>
               <div class="card-body">
                  <ul class="todo-list" data-widget="todo-list">
                     {% for task in alltodo %}
                     <li>
                        <span class="text">{{ task.description }}</span>
                        {% if task.status == 'Pending' %}
                        <small class="badge badge-danger">Pending</small>
                        {% elif task.status == 'Inprocess' %}
                        <small class="badge badge-warning">Inprocess</small>
                        {% elif task.status == 'Completed' %}
                        <small class="badge badge-success">Complete</small>
                        {% endif %}
                        <div class="tools">
                           <a href="{% url 'updatetodolist' task.id %}"><i class="fas fa-edit"></i></a>
                           <a href="" data-toggle="modal" data-target="#deteteModal{{task.id}}"><i class="fas fa-trash"></i></a>
                        </div>
                     </li>
                     <!-- Delete Modal Starts -->
                     <div class="modal fade" id="deteteModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="deteteModal{{task.id}}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deteteModal{{task.id}}Label">Delete</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 Are you sure you want to delete this task ?
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                 <a type="button" class="btn btn-danger" href="{% url 'deletetodolistdashboard' task.id %}">Delete</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--Delete Modal Ends-->
                     {% endfor %}
                  </ul>
               </div>
               <div class="card-footer clearfix">
                  <a href="{% url 'todolist' %}" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</a>
               </div>
            </div>
         </div>
         <!--Todo Ends-->
         
      </div>
      <!-- /.container-fluid -->
   </div>
   <!-- /.content -->
</div>
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
   <!-- Control sidebar content goes here -->
   <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
   </div>
</aside>
<!-- /.control-sidebar -->
{% endblock %}
