{% extends 'base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{ roomtypes }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Room Management</a></li>
              <li class="breadcrumb-item active">Room</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{% for msg in messages %}
    <script>function addroom() {toastr.success('{{ msg }}')};window.onload = addroom;</script>
{% endfor %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

<div class="card card-default">
<div class="card-header">
<h3 class="card-title">{{ room }}</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>

<div class="card-body">
  
<form method="POST" action="" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
     <div class="row"> 
<div class="col-md-6">
  <div class="form-group">
    <label for="notes">Name</label>
{{ form.name }}
</div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="notes">Room Type</label>
{{ form.roomtype }}
</div>
</div>
<div class="col-md-12"><label for="notes">Description</label></div>
<div class="col-md-10">
<div class="form-group">
{{ form.description }}
</div>
</div>
<div class="col-md-2">
<button type="submit" class="btn btn-block btn-primary">Save</button>
</div>

</div>
</form>
  
</div>
</div>


<div class="card card-default">
<div class="card-header">
<h3 class="card-title">{{ rooms }}</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>

<div class="card-body">
<table id="example1" class="table table-bordered table-striped">
<thead>
<tr>
<th>Room</th>
<th>Vacant Beds</th>
<th>Description</th>
<th class="text-center">Action</th>
</tr>
</thead>
<tbody>
  {% for room in allrooms %}
<tr>
<td>{{ room.name }} - {{ room.roomtype }}</td>
<td>
  {% for bed in room.bed_set.all %}
    {% if bed in unassigned_beds %}
      <span> {{bed}} , </span>
    {% endif %}
  {% endfor %}
</td>
<td>{{ room.description }}</td>
<td class="text-center">
  <a href="{% url 'updateroom' room.id %}"><i class="fas fa-edit"></i></a>
  <a href="" data-toggle="modal" data-target="#deteteModal{{room.id}}"><i class="fas fa-trash"></i></a>
</td>
</tr>
<!-- Delete Modal Starts -->
<div class="modal fade" id="deteteModal{{room.id}}" tabindex="-1" role="dialog" aria-labelledby="deteteModal{{room.id}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deteteModal{{boarder.id}}Label">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <b>{{ room.name }}</b> and all of its record ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" href="{% url 'deleteroom' room.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal Ends-->
  {% endfor %}
</tbody>
</table>
</div>
</div>



      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
